<form method="post">
  <div class="imgcontainer">
    <p>Enter details to Login</p>
  </div>

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input
      type="email"
      placeholder="Enter Email"
      name="email"
      [(ngModel)]="user.email"
      required
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="psw"
      [(ngModel)]="user.password"
      required
    />

    <button type="submit" (click)="login()">Login</button>
  </div>
</form>
